@import '../variables-dark';

// Color Variables
$darkColors: (
  'dark-0': $dark-0,
  'dark-5': $dark-5,
  'dark-10': $dark-10,
  'dark-15': $dark-15,
  'dark-20': $dark-20,
  'dark-30': $dark-30,
  'dark-35': $dark-35,
  'dark-40': $dark-40,
  'dark-45': $dark-45,
  'dark-50': $dark-50,
  'dark-60': $dark-60,
  'dark-70': $dark-70,
  'dark-80': $dark-80,
  'dark-85': $dark-85,
  'dark-90': $dark-90,
  'dark-100': $dark-100,
  'dark-primary-2': $primary-2,
  'dark-primary-1': $primary-1,
  'dark-primary': $primary-dark,
  'dark-danger': $danger-dark,
  'dark-error': $danger-dark,
  'dark-warning': $warning-dark,
  'dark-success': $success-dark,
  'dark-secondary': $secondary-dark,
  'dark-info': $info-dark,
);

$size: 100;

// Text Color Hover Map
@mixin dark-text-color-hover-classes($prefix, $list) {
  @each $key, $value in $list {
    body.dark {
      .hover-#{prefix}-color-#{$key} {
        &:hover {
          color: $value !important;
        }
      }
    }
  }
}

@include dark-text-color-hover-classes(text, $darkColors);

// Text Color Map
@mixin dark-text-color-classes($prefix, $list) {
  @each $key, $value in $list {
    body.dark {
      .#{$prefix}-color-#{$key} {
        color: $value !important;
      }
    }
  }
}

@include dark-text-color-classes(text, $darkColors);

@mixin margin-top-list {
  @for $i from 1 through $size {
    .m-top-#{$i} {
      margin-top: #{$i}px;
    }
  }
}

@include margin-top-list;

// Background Color Hover Map
@mixin dark-bg-color-hover-classes($prefix, $list) {
  @each $key, $value in $list {
    body.dark {
      .hover-#{$prefix}-color-#{$key} {
        &:hover {
          background-color: $value !important;
        }
      }
    }
  }
}

@include dark-bg-color-hover-classes(bg, $darkColors);

// Background Color Map
@mixin dark-bg-color-classes($prefix, $list) {
  @each $key, $value in $list {
    body.dark {
      .#{$prefix}-color-#{$key} {
        background-color: $value !important;
      }
    }
  }
}

@include dark-bg-color-classes(bg, $darkColors);

// Border Color Hover Map
@mixin dark-border-color-hover-classes($prefix, $list) {
  @each $key, $value in $list {
    body.dark {
      .hover-#{$prefix}-color-#{$key} {
        &:hover {
          border-color: $value !important;
        }
      }
    }
  }
}

@include dark-border-color-hover-classes(border, $darkColors);

// Border Color Map
@mixin dark-border-color-classes($prefix, $list) {
  @each $key, $value in $list {
    body.dark {
      .#{$prefix}-color-#{$key} {
        &:hover {
          border-color: $value !important;
        }
      }
    }
  }
}

@include dark-border-color-classes(border, $darkColors);

// Fill Map
@mixin dark-fill-color-classes($prefix, $list) {
  @each $key, $value in $list {
    body.dark {
      .#{$prefix}-#{$key} {
        path {
          fill: $value !important;
        }
      }
    }
  }
}

@include dark-fill-color-classes(fill, $darkColors);

// Fill Hover Map
@mixin dark-fill-hover-classes($prefix, $list) {
  @each $key, $value in $list {
    body.dark {
      .hover-#{$prefix}-#{$key} {
        &:hover {
          path {
            fill: $value !important;
          }
        }
      }
    }
  }
}

@include dark-fill-hover-classes(fill, $darkColors);

// Stroke Map
@mixin dark-stroke-color-classes($prefix, $list) {
  @each $key, $value in $list {
    body.dark {
      .#{$prefix}-#{$key} {
        path,
        rect,
        line,
        circle {
          stroke: $value !important;
        }
      }
    }
  }
}

@include dark-stroke-color-classes(stroke, $darkColors);

// Stroke Hover Map
@mixin dark-stroke-hover-classes($prefix, $list) {
  @each $key, $value in $list {
    body.dark {
      .hover-#{$prefix}-#{$key} {
        &:hover {
          path,
          rect,
          line,
          circle {
            stroke: $value !important;
          }
        }
      }
    }
  }
}

@include dark-stroke-hover-classes(stroke, $darkColors);
