@import "../../../style/variables";

.layout-main {
  margin-left: 80px;

  .header {
    display: flex;
    flex-direction: row;

    padding-inline: 16px;
    .title {
      font-size: $h4-font-size;
      font-weight: $font-weight-medium;
      color: $white;
    }
  }
}

.sidebar-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 64px);
  padding: 15px 0px;
  .avatar-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    cursor: pointer;
  }
}
