// Dark Mode
$dark-0: #ffffff;
$dark-5: #f5f5f5;
$dark-10: #f0f0f0;
$dark-15: #e1e1e1;
$dark-20: #d7d7d7;
$dark-30: #c2c2c2;
$dark-35: #adadad;
$dark-40: #999999;
$dark-45: #858585;
$dark-50: #707070;
$dark-60: #5c5c5c;
$dark-70: #474747;
$dark-80: #333333;
$dark-85: #292929;
$dark-90: #1f1f1f;
$dark-100: #141414;

// Primary
$primary-dark: #050342;

// Secondary
$secondary-dark: #290034;

// Danger
$danger-dark: #2e1619;

// Success
$success-dark: #18342a;

// Warning
$warning-dark: #3b3117;

// Info
$info-dark: #1e383d;
