@import '../variables';

.color-wrapper-xl {
  height: 60px;
  width: 90px;
}

.color-wrapper-sm {
  height: 20px;
  width: 30px;
}

.color-wrapper {
  height: 60px;
  width: 60px;
}

.border {
  border: 1px solid $b-40;
}
